<h1>Add New Employee</h1>
<form action="/add-employee" method="POST">
    <label>First Name:</label>
    <input type="text" name="firstName" required><br>

    <label>Last Name:</label>
    <input type="text" name="lastName" required><br>

    <label>Department:</label>
    <select name="department">
        <option>Harware</option>
        <option>Appliances</option>
        <option>Cashier</option>
    </select>
    
    <label>Start Date:</label>
    <input type="date" name="startDate" required><br>

    <label>Job Title:</label>
    <input type="text" name="jobTitle" required><br>

    <label>Salary:</label>
    <input type="number" name="salary" required><br>

    <button type="submit">Add</button>
</form>

<a href="/">Gp back to Employee List</a>
