<h2>Register !!!</h2>
<form action="/auth/register" method="POST">
    <input type="text" name="username" placeholder="Username" required />
    <input type="contactEmail" name="contactEmail" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Register</button>
</form>

<p>Want to login?! <a href="/auth/login">Login here!</a></p>
